bottle==0.13.4
cffi==2.0.0
clr_loader==0.2.10
colorama==0.4.6
et_xmlfile==2.0.0
iniconfig==2.3.0
jamo==0.4.1
kiwipiepy==0.23.1
kiwipiepy_model==0.23.0
maturin==1.13.1
numpy==2.4.4
openpyxl==3.1.5
packaging==26.0
pandas==3.0.2
pluggy==1.6.0
proxy_tools==0.1.0
pycparser==3.0
Pygments==2.20.0
pytest==9.0.2
python-dateutil==2.9.0.post0
pythonnet==3.0.5
pywebview==6.1
RapidFuzz==3.14.5
six==1.17.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.3
win32_setctime==1.2.0
